/* The standard CSS for doxygen */

body, div {
  color:            black;
  background-color: #ffffe6;
  font-size: 12pt;
  font-family: sans-serif;
}

body {
  margin:           2px;
  padding:          0px;
  background: #FFFFFF;
}

/* boxes */
div.outer {
  padding:    19px;
  background: #FFFFFF;
}

div.inner {
  border:     1px solid #BDBDBD;
  min-height: 450px;
  min-width: 1150px;
}

/* @group Heading Levels */

h1 {
    font-size: 120%;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
}

dt {
    font-weight: bold;
}

div.multicol {
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

p.startli, p.startdd, p.starttd {
    margin-top: 2px;
}

p.endli {
    margin-bottom: 0px;
}

p.enddd {
    margin-bottom: 4px;
}

p.endtd {
    margin-bottom: 2px;
}

/* @end */

caption {
    font-weight: bold;
}

span.legend {
    font-size: 70%;
    text-align: center;
}

h3.version {
    font-size: 90%;
    text-align: center;
}

div.qindex, div.navtab{
    background-color: #EBEFF6;
    border: 1px solid #A3B4D7;
    text-align: center;
    margin: 2px;
    padding: 2px;
}

div.qindex, div.navpath {
    width: 100%;
    line-height: 140%;
}

div.navtab {
    margin-right: 15px;
}

div.note{
    color: #EE0000;
    font-weight: bold;
}

/* @group Link Styling */

a {
    color: #5050C0;
    text-decoration: none;
}

.contents a:visited {
    color: #5050C0;
}

a:hover {
    text-decoration: underline;
}

a.qindex {
    font-weight: bold;
}

a.qindexHL {
    font-weight: bold;
    background-color: #9CAFD4;
    color: #ffffe6;
    border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
    color: #ffffe6;
}

a.el {
    font-weight: bold;
}

a.elRef {
}

a.code {
    color: #4665A2;
}

a.codeRef {
    color: #4665A2;
}

/* @end */

dl.el {
    margin-left: -1cm;
}

.fragment {
    font-family: monospace, fixed;
    font-size: 105%;
}

pre.fragment {
    border: 1px solid #8080A0;
    background-color: #FBFCFD;
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    overflow: auto;
    word-wrap: break-word;
    font-size:  9pt;
    line-height: 125%;
}

div.ah {
    background-color: black;
    font-weight: bold;
    color: #ffffe6;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0.2em;
    border: solid thin #333;
    border-radius: 0.5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#000),color-stop(0.3, #444));
    background-image: -moz-linear-gradient(center top, #eee 0%, #444 40%, #000);
}

div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

div.groupText {
    margin-left: 16px;
    font-style: italic;
}

div.contents {
}

td.indexkey {
    background-color: #EBEFF6;
    font-weight: bold;
    border: 1px solid #8080A0;
    margin: 2px 0px 2px 0;
    padding: 2px 10px;
}

td.indexvalue {
    background-color: #EBEFF6;
    border: 1px solid #8080A0;
    padding: 2px 10px;
    margin: 2px 0px;
}

tr.memlist {
    background-color: #EEF1F7;
}

p.formulaDsp {
    text-align: center;
}

img.formulaDsp {
    
}

img.formulaInl {
    vertical-align: middle;
}

div.center {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

div.center img {
    border: 0px;
}

td.footer {
    font-size: 75%;
}

img.footer {
    border: 0px;
    vertical-align: middle;
}

/* @group Code Colorization */

span.keyword {
    color: #008000
}

span.keywordtype {
    color: #604020
}

span.keywordflow {
    color: #e08000
}

span.comment {
    color: #800000
}

span.preprocessor {
    color: #806020
}

span.stringliteral {
    color: #002080
}

span.charliteral {
    color: #008080
}

span.vhdldigit { 
    color: #ff00ff 
}

span.vhdlchar { 
    color: #000000 
}

span.vhdlkeyword { 
    color: #700070 
}

span.vhdllogic { 
    color: #ff0000 
}

/* @end */

/*
  .search {
  color: #003399;
  font-weight: bold;
  }

form.search {
margin-bottom: 0px;
margin-top: 0px;
}

input.search {
font-size: 75%;
color: #000080;
font-weight: normal;
background-color: #e8eef2;
}
*/

td.tiny {
    font-size: 75%;
}

.dirtab {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #A3B4D7;
}

th.dirtab {
    background: #EBEFF6;
    font-weight: bold;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid #8080A0;
}

hr.footer {
    height: 1px;
}

/* @group Member Descriptions */

table.memberdecls {
    border-spacing: 0px;
    padding: 0px;
}


.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight {
    border: none;
    margin: 4px;
    padding: 5px 0px 5px 8px;
}

.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background-color: #F9FAFC;
    border: none;
    margin: 4px;
    padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
    padding: 0px 8px 4px 8px;
    color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
    border-top: 1px solid #8080A0;
}

.memItemLeft, .memTemplItemLeft {
    white-space: nowrap;
}

.memTemplParams {
    color: #4665A2;
    white-space: nowrap;
}

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate {
    font-size: 80%;
    color: #4665A2;
    font-weight: normal;
    margin-left: 3px;
}

.memnav {
    background-color: #EBEFF6;
    border: 1px solid #A3B4D7;
    text-align: center;
    margin: 2px;
    margin-right: 15px;
    padding: 2px;
}

.memitem {
    padding: 0;
    margin-bottom: 10px;
}

.memname {
    white-space: nowrap;
    font-weight: bold;
    margin-left: 6px;
}

.memproto {
    border-top: 1px solid #A8B8D9;
    border-left: 1px solid #A8B8D9;
    border-right: 1px solid #A8B8D9;
    padding: 6px 0px 6px 0px;
    color: #253555;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    /* firefox specific markup */
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    /* webkit specific markup */
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    background-image:url('nav_f.png');
    background-repeat:repeat-x;
    background-color: #E2E8F2;
}

.memdoc {
    border-bottom: 1px solid #A8B8D9;      
    border-left: 1px solid #A8B8D9;      
    border-right: 1px solid #A8B8D9; 
    padding: 2px 5px;
    background-color: #FBFCFD;
    border-top-width: 0;
    /* firefox specific markup */
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
    background-image: -moz-linear-gradient(center top, #FFFFFF 0%, #FFFFFF 60%, #F7F8FB 95%, #EEF1F7);
    /* webkit specific markup */
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear,center top,center bottom,from(#FFFFFF), color-stop(0.6,#FFFFFF), color-stop(0.60,#FFFFFF), color-stop(0.95,#F7F8FB), to(#EEF1F7));
}

.paramkey {
    text-align: right;
}

.paramtype {
    white-space: nowrap;
}

.paramname {
    color: #602020;
    white-space: nowrap;
    font-weight: bold;
}
.paramname em {
    font-style: normal;
}

/* @end */

/* @group Directory (tree) */

/* for the tree view */

.ftvtree {
    font-family: sans-serif;
    margin: 0px;
}

/* these are for tree view when used as main index */

.directory {
    font-size: 9pt;
    font-weight: bold;
    margin: 5px;
}

.directory h3 {
    margin: 0px;
    margin-top: 1em;
    font-size: 11pt;
}

/*
  The following two styles can be used to replace the root node title
  with an image of your choice.  Simply uncomment the next two styles,
  specify the name of your image and be sure to set 'height' to the
  proper pixel height of your image.
  */

/*
  .directory h3.swap {
  height: 61px;
  background-repeat: no-repeat;
  background-image: url("yourimage.gif");
  }
  .directory h3.swap span {
  display: none;
  }
  */

.directory > h3 {
    margin-top: 0;
}

.directory p {
    margin: 0px;
    white-space: nowrap;
}

.directory div {
    display: none;
    margin: 0px;
}

.directory img {
    vertical-align: -30%;
}

/* these are for tree view when not used as main index */

.directory-alt {
    font-size: 100%;
    font-weight: bold;
}

.directory-alt h3 {
    margin: 0px;
    margin-top: 1em;
    font-size: 11pt;
}

.directory-alt > h3 {
    margin-top: 0;
}

.directory-alt p {
    margin: 0px;
    white-space: nowrap;
}

.directory-alt div {
    display: none;
    margin: 0px;
}

.directory-alt img {
    vertical-align: -30%;
}

/* @end */

div.dynheader {
    margin-top: 8px;
}

address {
    font-style: normal;
    color: #2A3D61;
}

table.doxtable {
    border-collapse:collapse;
    margin-left: 10px;
}

table.doxtable td, table.doxtable th {
    border: 0px solid #2D4068;
    padding: 3px 7px 2px;
    vertical-align: top;
}

table.doxtable th {
    background-color: #374F7F;
    color: #FFFFFF;
    font-size: 110%;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align:left;
}

.navpath ul
{
    font-size: 11px;
    background-image:url('tab_b.png');
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#8AA0CC;
    border:solid 1px #C2CDE4;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navpath li
{
    list-style-type:none;
    float:left;
    padding-left:10px;
    padding-right: 15px;
    background-image:url('bc_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color:#364D7C;
}

.navpath a
{
    height:32px;
    display:block;
    text-decoration: none;
    outline: none;
}

.navpath a:hover
{
    color:#6884BD;
}

div.summary
{
    float: right;
    font-size: 8pt;
    padding-right: 5px;
    width: 50%;
    text-align: right;
}

div.summary a
{
    white-space: nowrap;
}

div.header
{
    background-image:url('nav_h.png');
    background-repeat:repeat-x;
    margin:  0px;
}

div.textblock
{
    padding: 0px 0px 10px 0px;
}

div.headertitle
{
    padding: 5px 0px 5px 0px;
}

div.title
{
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    font-size: 16pt;
}

div.mainheadertitle
{
    background-repeat:repeat-x;
    margin:  0px;
}

dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug
{
    border-left:4px solid;
    padding: 0 0 0 6px;
}

dl.note
{
    border-color: #D0D000;
}

dl.warning, dl.attention
{
    border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant
{
    border-color: #00D000;
}

dl.deprecated
{
    border-color: #505050;
}

dl.todo
{
    border-color: #00C0E0;
}

dl.test
{
    border-color: #3030E0;
}

dl.bug
{
    border-color: #C08050;
}
td.mainheadertitle
{
    font-weight: bold;
    font-size: 20pt;
    text-align:left;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    color: #5050C0;
}


/* menu */
#menu {
  line-height: 100%; 
}

#menu ul {
  list-style: none;
  padding-left: 0px;
}

#menu li {
  padding:     2px 0px 0px 6px;
  white-space: nowrap;
  background:  #E9E9FF;
}

#menu li.hdr {
  color: #5050C0; 
  font-weight:   bold;
  padding:       2px 0px 3px 6px;
  background:    #d0d0ff;
  border-top:    1px solid #f2f2f2; 
  border-bottom: 1px solid #f2f2f2; 
}

#menu li a {
  color:         black;
  text-decoration: none;
}

#menu li a:hover {
  color: #888800;
  text-decoration: underline;
}

/* faq */
#faq ul {
  list-style: none;
  padding-left: 1em;
}

#faq ol {
  padding-left: 3em;
}

#faq h4 { 
  padding-top: 2em;
}

/* question: */
#faq p.q { 
  font-weight:   bold;
  padding-top: 2em;
}

/* answer */
#faq p.a { 
  padding-left:   1em;
}

#MSearchBox {
    white-space : nowrap;
    float: none;
    display: inline;
    margin-top: 8px;
    right: 30px;
    width: 170px;
    z-index: 102;
}
